html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: rgb(33, 32, 32);
    color:rgb(218, 216, 216)
}

.btn-primary {
    border-color: #b32d00;
    background-color: #b32d00;
}

    .btn-primary:hover {
        border-color: #b32d00;
        background-color: #f2d410;
        color: #000000;
    }

a {
    color: #ffc107;
}

input {
    background-color: rgb(255, 255, 255) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
}

    input:-internal-autofill-selected {
        background-color: red !important;
        background-image: none !important;
        color: black !important;
    }

.form-control.valid {
    background-color: red !important;
    background-image: none !important;
    color: black !important;
}