@model string[]
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Role Management";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>@ViewData["Title"]</h3>
            <hr />
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        <div class="row justify-content-center">
            <div class="col-8">
                <p>@Model.Count() users selected.</p>
                <a id="btnAddToRoles" class="btn btn-sm btn-primary" style="display:none;color: #e6ccff">Add Selected Users to Roles</a>
                <a id="btnRemoveFromRoles" class="btn btn-sm btn-primary" style="display:none">Remove Selected Users from Roles</a>
            </div>
        </div>
    }
    <div class="row justify-content-center">
        <div class="col-8">
            <a class="btn btn-sm btn-primary" asp-action="Index" asp-controller="Home" >Home</a>
            <span id="spanChangeNotice" class="text-muted" style="display:none">Remember to click &quot;Save&quot; or &quot;Cancel&quot; when done.</span>
            @(Html.Kendo().Grid<IdentityRole>().Name("grid")
            .Columns(col =>
            {
            col.Select().Width(50);
            col.Command(command => { command.Custom("Users").Click("manageUsers").IconClass("fa fa-user"); }).Width(124);
            col.Bound(b => b.Id).Hidden(true);
            col.Bound(b => b.Name);
            col.Command(command => { command.Destroy().Text("Delete"); }).Width(124);
            })
            .ToolBar(toolbar => { toolbar.Create(); toolbar.Save(); toolbar.Search(); })
            .Search(t => t.Field("Name"))
            .Editable(editable => editable.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(true).ConfirmDelete("Warning:Deletes are permanent!"))
            .Pageable(pager => pager.Input(true).Numeric(true).Info(true).PreviousNext(true).Refresh(true))
            .Navigatable().Sortable().Events(ev => ev.Change("onChange").BeforeEdit("onEdit"))
            .DataSource(dataSource => dataSource
            .Ajax()
            .Batch(true)
            .PageSize(20)
            .ServerOperation(false)
            .Events(events => events.Error("error_handler"))
            .Model(model =>
            {
            model.Id(p => p.Id);
            model.Field(f => f.Name).Editable(true);
            })
            .Read("Read_Roles", "Roles")
            .Update("Update_Roles", "Roles")
            .Destroy("Delete_Roles", "Roles")
            ))
        </div>
    </div>
</div>

<script>
    var selectedIds;
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors,
                function(key, value) {
                    if ('errors' in value) {
                        $.each(value.errors,
                            function() {
                                message += this + "\n";
                            });
                    }
                });
            alert(message);
        }
    }
    
    function onEdit(e) {
        $("#spanChangeNotice").show();
    }

    function onChange(arg) {
        selectedIds = this.selectedKeyNames(); //.join(", ");
        if (selectedIds.length > 0) {
            $("#btnAddToRoles").show();
            $("#btnRemoveFromRoles").show();
        } else {
            $("#btnAddToRoles").hide();
            $("#btnRemoveFromRoles").hide();
        }
    }

    function manageUsers(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("UsersInRole")/" + dataItem.Id;
    }
</script>